<p>
  <b>Name en:</b>
  <%=h @immuniasation.name_en %>
</p>

<p>
  <b>Name ta:</b>
  <%=h @immuniasation.name_ta %>
</p>

<p>
  <b>Days:</b>
  <%=h @immuniasation.days %>
</p>

<p>
  <b>Range:</b>
  <%=h @immuniasation.range %>
</p>


<%= link_to 'Edit', edit_immuniasation_path(@immuniasation) %> |
<%= link_to 'Back', immuniasations_path %>
